
<section class='welcome-page'>
    <h1 id='app-name'>Snapscan</h1>
    
     <%= link_to 'LOG IN' , new_user_session_path , id: 'login-link'%>

     <%= link_to 'Sign up' , new_user_registration_path , id: 'signup-link'%>
</section>