@media only screen and (max-width: 640px) {
  .uniq {
    background-color: #f1f3f2;
  }

  .signup-form {
    background-color: #fff;
    border: 1px solid #d9d3d3c9;
  }

  .field input {
    margin: auto;
    border: aliceblue;
    padding: 11px;
  }

  .signup-form form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    background-color: #e6e5e5;
  }

  .forget-link {
    text-decoration: none;
    color: #443d3d80;
    margin-left: 34%;
  }

  .login-btn {
    background: #3778c2;
    color: #fff;
    border: aliceblue;
    font-size: 15px;
  }

  .form-field {
    background-color: #fff;
    padding: 11px;
  }

  .login-alert {
    background-color: #ff0000a1;
    padding: 15px;
    width: 214px;
    border-radius: 12px;
    margin-left: 16px;
    color: #7c0000;
  }

  .error-list {
    list-style: none;
  }

  #error_explanation {
    background-color: #ff0000a1;
    padding: 6px;
    width: 494px;
    border-radius: 12px;
    margin-left: 16px;
    color: #7c0000;
  }
}
