
@media only screen and (max-width: 640px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3778c2;
    color: #fff;
    padding: 25px;
    height: 20px;
  }

  .navbar i {
    font-size: 19px;
  }

  .navbar a {
    color: #fff;
  }
}
